.box-index-min {
    width: 100%;
    height: auto;
    list-style-type: none;
}
.left-min {
    position: relative;
    width: 100%;
    height: 740px;
    overflow: auto;
}

.pagin-bottom {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 2%;
}

/**
 * 主标题
 */
.box-index-min-tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #0d1a26;
    width: 100%;
    height: 46px;
    cursor: pointer;
    border-bottom: 1px solid #d4d7da;
}
.box-index-min-tit:hover{
    background-color: #f3f3f3;
}
.box-index-min-tit span{
    margin-left: 34px;
}
.box-index-min-tit i{
    margin-right: 30px ;
}
.box-index-min-tit i:hover{
    cursor:pointer;
}
/**
 * 二级标题
 */
.box-index-min-childTit {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    padding-left: 51px;
    padding-right: 30px;
    height: 46px;
    cursor: pointer;
    color: #6d7884;
    border-bottom: 1px solid #d4d7da;
}
.box-index-min-childTit:hover{
    background-color: #f3f3f3;
}
/**
 * 三级内容
 */
.box-index-min-tit-about {
    flex-basis: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    height: 40px;
    padding-left: 73px;
    padding-right: 22px;
    color: #6d7884;
    line-height: 40px;
}
.box-index-min-about{
    border-bottom: 1px solid #d4d7da;
}
.box-index-min-about ul{
    width: 100%;
    height: auto;
    background-color: transparent;
    overflow: hidden;
    padding: 0;
}
.box-index-min-about ul li{
    width: 100%;
    height: 40px;
}
.box-index-min-about ul li:hover{
    background-color:#f3f3f3;
    cursor:pointer;
}

