.user-container {
  width: 100%;
  height: 718px;
  padding: 6px;
  overflow: auto;
  border-right:2px solid #eee;
}

.user-test-button {
  float: right;
  margin-right:20px
}

.user-test-button :global .ant-btn {
  width: 120px;
  height: 30px;
}