.user-container {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 6px;
  overflow: auto;
}

.user-test-button {
  margin-right: 120px;
  float: right;
}

.user-test-button :global .ant-btn {
  width: 120px;
  height: 30px;
}