/* 页面布局start */
.layout .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

.ant-layout-sider-trigger {
  background: #384042;
}

.layout {
  position: relative;
  height: 100vh;
  .ant-layout-sider-collapsed {
    .anticon {
      font-size: 16px;
      margin-left: 8px;
    }
    .nav-text {
      display: none;
    }
  }
  .layout-logo {
    position: relative;
    text-align: center;
    width:200px;
    height: 155px;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    span{
      display:block;
      width:200px;
      height:20px;
      padding-left:25px;
      padding-right:25px;
      font-size:14px;
      color:#fff;
      line-height:20px;
      text-align:left;
      margin-top:20px;
    }
    .layout-user{
      width:200px;
      height:35px;
      margin-top:30px;
      img{
        display:block;
        float:left;
        margin-left:25px;

      }
      span{
        display:block;
        float:right;
        margin:0;
        margin-right:25px;
        padding:0;
        font-size:18px;
        color:#fff;
        width:100px;
        height:35px;
        text-align:right;
        line-height:35px;
      }
    }

  }
  .layout-content {
    margin: 0;
    background-color:#edf0f1;
  }
}

.layout-header {
  position: relative;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, .05);
  background: #212627;
  height: 64px;
  line-height: 46px;
  padding: 0;
  img{
    width:35px;
    height:35px;
    display:block;
    float:left;
    line-height:64px;
    margin-left:25px;
    margin-top:15px;
  }
  span{
    display:block;
    float:left;
    font-size:24px;
    //font-weight:bold;
    line-height:64px;
    color:#fff;
    margin-left:16px;
  }
  p{
    display: block;
    margin: 0;
    padding: 0;
    width: 196px;
    height: 35px;
    margin-top: 15px;
    border-radius: 3px;
    background: #f59226;
    text-align: center;
    float: right;
    margin-right: 30px;
    font-size: 17px;
    color: #fff;
    line-height: 35px;
  }
  .trigger {
    height: 47px;
    width: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    -webkit-transition: all .3s cubic-bezier(.55, .055, .675, .19);
    transition: all .3s cubic-bezier(.55, .055, .675, .19);
  }
  .layout-header-menu {
    float: right;
    line-height: 45px;
    text-align: center;
  }
}

.layout-footer {
  text-align: center;
  height: 48px;
  line-height: 48px;
  padding: 0;
  background: #384042;
}

.swing-min {
  position: absolute;
  right: 10%;
  width: 20em;
  height: 30px;
  border-radius: 6px;
  bottom: 50%;
  line-height: 30px;
  margin-bottom: -15px;
  text-align: center;
  background-color: #f16714;
  color: #fafafa;
}

/* 页面布局end */

.ant-layout-sider-has-trigger{
  padding-bottom:0px;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
  background-color:#c0c4c5;
}
.AvatarUser{
  width:30px;
  height:30px;
  margin-top:20px;
  margin-right:5%;
  float:right
}
.AvatarRoot{
  display:block;
  float:right;
  font-size:16px;
  color:#eee;
  margin-top:12px;
  margin-right:5%;
  background-color:#384042;
}
.AvatarIconBell{
  font-size:16px;
  color:#eee;
  float:right;
  margin-top:27px;
  margin-right:5%;
}
.AvatarIconSetting{
  font-size:17px;
  color:#eee;
  float:right;
  margin-top:27px;
  margin-right:5%;
}
.AvatarIcon{
  font-size:17px;
  color:#eee;
  float:right;
  margin-top:27px;
  margin-right:5%;
}

:global .ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background-color:#edf0f1;
  box-shadow:0 0 0 0;
}
.MenuClass :global(.ant-menu-item:hover){
  background-color:#106664!important;
  border-left:3px solid #202826!important;

}
.MenuClass :global(.ant-menu-inline){
  background:#5f6364!important;
  border-right:0px solid #f00!important;
  border-top:1px solid #a5aaa9;
}

.MenuClass :global(.ant-menu-item-selected){
  background-color:#106664!important;
  color:#fff!important;
  border-left:3px solid #202826!important;
  a{
    color:#fff!important;
  }
  span{
    color:#fff!important;
  }
}
.MenuClass :global(.ant-menu-item){
  border-left:3px solid #5f6364;
  margin-top:0 !important;
  font-size:16px!important;
  height:50px!important;
  line-height:50px!important;
  padding-left:22px!important;
  a{
    color:#d8d8d8;
  }
  a:hover{
    color:#fff!important;
  }
  span:hover{
    color:#fff!important;
  }
}
::-webkit-scrollbar {
  width: 0px!important;
  height: 0px!important;
}
.MenuClass{
  background:#5f6364;
}
.ant-menu-item:after{
  border-right:3px solid #5f6364!important;
}
.MenuClass :global(.ant-btn){
  margin-left: 20px;
  background: #737879!important;
  width: 160px;
  height: 48px;
  font-size: 14px;
  border: 1px solid #737879!important;
  color: #b3b5b6!important;
  margin-top: 300px;
}
.MenuClass :global(.ant-btn:hover){
  margin-left: 20px;
  background: #737879!important;
  width: 160px;
  height: 48px;
  font-size: 14px;
  border: 1px solid #737879!important;
  color: #b3b5b6;
  margin-top: 300px;
}
.MenuClass :global(.ant-btn:after){
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #737879!important;
  opacity: 0.35;
  content: '';
  border-radius: inherit;
  z-index: 1;
  transition: opacity .2s;
  pointer-events: none;
  display: none;
}


