.char-tiele{
    margin: 0 auto;
    text-align: center;
    background-color: #494949;
    color: #fafafa;
}

.leter-min {
    margin-top: 20px;
    border-top: 1px solid #494949;
}

.add-but {
    position: absolute;
    bottom: 10px;
    left: 40%;
}

.left-letter {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.left-letter span {
    font-size: 16px;
}

.right-min {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-min {
    margin-bottom: 10px;
    margin-right: 40px;
}

.button-min :global .ant-btn {
    width: 120px;
    margin-right: 40px;
    background-color: #f16714;
    color: #fafafa;
}
.char-tieles {
    margin: 0 auto;
    text-align: left;
    border-bottom: 2px solid #eee;
    padding-left: 20px;
    color: #384042;
    line-height:60px;
}
.ant-card-body{
    padding:0 !important;
}
.oneKeyChange{
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 80px;
    text-align: left;
    padding-left: 20px;
    display: block;
    font-size: 16px;
    border-bottom: 2px solid #eee;
}



