/* 面包屑 start */

.bread-crumb {
    height:54px;
    line-height: 54px;
    font-size:14px;
    margin-left:30px;
}
//.ant-breadcrumb-separator{
//  color:#eee!important;
//}
.ant-breadcrumb>span:last-child {
    color: #eee;
    font-weight: 400;
}

/* 面包屑 end */